# Calculate Business Value

In [54]:
import os
import pickle

In [55]:
dir = "../tmpo86sw7ay/storage/"

In [56]:
def load_artifact(targ_file:str):
    targ_path = os.path.join(dir,targ_file)

    with open(targ_path,'rb') as fp:
        test_artifact = pickle.load(fp)

    return test_artifact

In [57]:
predictions_df = load_artifact("predictions")
predictions_df

       rating_account_id customer_id available_gb  gross_mrc  y_predicted  y
75721             150626    4.716517           20      39.49            1  0
80184             178040    3.112550            0      15.61            1  0
19864             135135    5.177121            0      35.51            1  0
76699             397194    3.626402         None      64.69            0  0
92991             892779    5.793666           10      39.49            1  0
...                  ...         ...          ...        ...          ... ..
32595             197979    5.430421            0      64.69            1  0
29313             760829    5.181971           40      62.04            0  0
37862             984519    2.601349            0      24.90            1  0
53421             925527    2.376234           50       8.98            0  0
42410             851264    1.517546           50      35.51            0  0

[20000 rows x 6 columns]

Calculate increase in Gross MRC if constant increase is applied e.g., 70% for each individual package

In [58]:
def increase_gmrc_70_perc(df): 

    upselling_customers_df = df[(df['y'] == 1) & (df['y_predicted'] == 1)]

    old_gmrc = upselling_customers_df['gross_mrc'].sum()
    new_gmrc = upselling_customers_df['gross_mrc'].sum() * 1.7
    print(f'Gross MRC went from {old_gmrc} euro per month to {new_gmrc} euro per month.')

In [59]:
increase_gmrc_70_perc(predictions_df)

Gross MRC went from 28350.83 euro per month to 48196.411 euro per month.